body{
    font-family: "poppins" sans-serif;
    border: 3px solid red;
    line-height: 1.6;
}
a{
    text-decoration: none;
}
h2{
    font-size: x-large;
    font-weight: 700;
    font-style:normal;
    font-variant:normal;

    text-transform: uppercase;
    text-indent:20px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;



   
}

p{
    font-weight: semibold;
}


/* Type Selector */

/* h2{
    color: red;
    font-size: 30px;
}

a{
    color: blue;
    text-decoration: none;
} */

/* class selectors */

/* .sporty{
    color: red;
}

.casual{
    color: blue;
}

.formal{
    color: brown;
} */

/* id selectors */

#container{
    max-width: 600px;
    margin: 100px auto;
    padding:200px
}

/* Multiple styling */

/* .sporty, .casual{
   font-size: 35px;
} */

/* Decendant Selector */

/* #container p{
    background:blue;
  
} */

/* p{
    background:red;

} */