*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 5px solid red; */
}

body{
    font-family: "poppins" sans-serif;
    /* border: 3px solid red; */
    line-height: 1.6;
    background-color:#fff; /*short hand*/
    margin: 0;
    /* rgb */
    /* background: rgb(0,0,0);
     */
     /* border: 5px solid red; */
}
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(0,0,0,0.5);
    background-image: url("grab-0PEoPx4j8hc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll; 

    /* linear gradient */
    /* background-image: linear-gradient(to left top, blue, red); */
      
}

.hero h1{
    padding-bottom: 20px;
    font-size: 40px;
}
.hero p{
    text-align: center;
    font-size: 2rem;
}
/* a{
    text-decoration: none;
}
h2{
    font-size: x-large;
    font-weight: 700;
    font-style:normal;
    font-variant:normal;

    text-transform: uppercase;
    text-indent:20px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;



   
}

p{
    font-weight: semibold;
} */


/* Type Selector */

/* h2{
    color: red;
    font-size: 30px;
}

a{
    color: blue;
    text-decoration: none;
} */

/* class selectors */

/* .sporty{
    color: red;
}

.casual{
    color: blue;
}

.formal{
    color: brown;
} */

/* id selectors */

/* #container{
    max-width: 600px;
    margin: 100px auto;
    padding:200px
} */

/* Multiple styling */

/* .sporty, .casual{
   font-size: 35px;
} */

/* Decendant Selector */

/* #container p{
    background:blue;
  
} */

/* p{
    background:red;

} */

/* color names */
.sporty{
    color: red;
}

/* Hex values */
.casual{
    color: #e04553;
}

.card{
    /* RGBA */
   background-color:  rgba(0,0,0,0.5);

   /* HSL */
   background-color: hsl(0, 100%, 50%);

   /* hsla */
   background-color: hsla(120, 100%, 50%, 0.7) ;
}

/* .card-2{
    background-color: #000;
    color: #fff;
    opacity: 0.2;
}
#heading{
    color: purple;
} */

/* .container h1{
    color: blue;
}

.heading{
    color: green;
}

h1{
    color: red;
} */


/* regular link styling */
a{
    text-decoration: none;
    color: #333;
}

a:hover{
    color: red;
}

a:active{
    background-color: purple;
}

a:focus{
    background-color: yellow;
}

a:visited{
    background-color: coral;
}

.fa-facebook{
    color: blue;
    font-size: 50px;
}

.fa-instagram{
    color:green;
}
/* 
.box{
    background-color: darkblue ;
    color: #fff;
    padding: 20px;
    border: 3px solid green;
    margin: 20px;
}

.box-1{
    width: 200px;
    height: 100px;
    overflow:hidden;
}

.box-2{
    width: 50%;

}

.box-2 p{
    width: 50%;
}

.box-3{
    max-width: 800px;

} */



/* .box{ */
    /* background-color: darkblue; */
    /* color: white; */
    /* padding: 20px; */
    /* width: 300px; */
    /* padding-top: 20px;
    padding-right: 40px;
    padding-left: 60px;
    padding-bottom: 100px; */

/* TRBL */
    /* padding: 20px 40px 100px 60px; */

    
    /* two values top and bottom same values and left and right same values also */
    /* TB- LR */
    /* padding: 20px 40px; */

    /* three values */
    /* T-LR-B */
    /* padding: 20px 30px 40px; */


/* } */

.box{
    background:coral;
    max-width: 400px;
     margin: 20px;
     padding: 200px; 
}

p, h2{
    /* margin: 0; */
}

.box h2{
    /* margin-bottom: 10px; */
}

.box-2{
    /* margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 50px; */
}

.box-3{
    /* margin-left: -30px; */
}

.box-1{
    /* margin: 100px auto; */
}