body{
    font-family: "poppins" sans-serif;
    /* border: 3px solid red; */
    line-height: 1.6;
    background-color:#fff; /*short hand*/
    margin: 0;
    /* rgb */
    /* background: rgb(0,0,0);
     */
}
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(0,0,0,0.5);
    background-image: url("grab-0PEoPx4j8hc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll; 

    /* linear gradient */
    /* background-image: linear-gradient(to left top, blue, red); */
      
}

.hero h1{
    padding-bottom: 20px;
    font-size: 40px;
}
.hero p{
    text-align: center;
    font-size: 2rem;
}
/* a{
    text-decoration: none;
}
h2{
    font-size: x-large;
    font-weight: 700;
    font-style:normal;
    font-variant:normal;

    text-transform: uppercase;
    text-indent:20px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;



   
}

p{
    font-weight: semibold;
} */


/* Type Selector */

/* h2{
    color: red;
    font-size: 30px;
}

a{
    color: blue;
    text-decoration: none;
} */

/* class selectors */

/* .sporty{
    color: red;
}

.casual{
    color: blue;
}

.formal{
    color: brown;
} */

/* id selectors */

/* #container{
    max-width: 600px;
    margin: 100px auto;
    padding:200px
} */

/* Multiple styling */

/* .sporty, .casual{
   font-size: 35px;
} */

/* Decendant Selector */

/* #container p{
    background:blue;
  
} */

/* p{
    background:red;

} */

/* color names */
.sporty{
    color: red;
}

/* Hex values */
.casual{
    color: #e04553;
}

.card{
    /* RGBA */
   background-color:  rgba(0,0,0,0.5);

   /* HSL */
   background-color: hsl(0, 100%, 50%);

   /* hsla */
   background-color: hsla(120, 100%, 50%, 0.7) ;
}

/* .card-2{
    background-color: #000;
    color: #fff;
    opacity: 0.2;
}
#heading{
    color: purple;
} */

/* .container h1{
    color: blue;
}

.heading{
    color: green;
}

h1{
    color: red;
} */



